<style type="text/css">
.category-of-emergency,
.type-of-programmes,
.operational-centers {
  padding-left: 15px;
}

.type-of-emergency {
  padding-left: 30px;
}

dd.padding-bottom {
  padding-bottom: 5px;
}

.flex-text-wrap pre {
  padding: 5px;
}

#inputSeverityScale label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
#inputSeverityScale {
    width: 50%;
    height: auto;
    margin: 2em auto;
}

</style>
<section id="editEventVue">
    <script src="/resources/js/edit-maps.js"></script>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Edit Event</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading"  >
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseGeneral" aria-expanded="false" aria-controls="collapseGeneral">
                    General Details
                  </a>
                </h4>
              </div>
              <div id="collapseGeneral" :class="{'panel-collapse':true, 'collapse':true, 'in':(editCategory=='general')}" role="tabpanel" >
              <div class="panel-body">

            <dl>
              <dt>Event Name</dt>
              <dd>
                <input id="eventName" type="text" v-model="event.metadata.name" class="form-control" placeholder="Event name" />
              </dd>
            </dl>
            <dl>
              <dt>Enter new notification</dt>
              <dd>
                <input type="text" class="form-control" id="inputNotification">
              </dd>
            </dl>
            <dl>
              <dt>Add region for the emergency</dt>
              <dd class="bottom-margined">
                <input type="text" class="form-control input-sm" placeholder="Search address/location..." id="editEventAddress">
              </dd>
              <dd class="bottom-margined">
                <div class="row">
                  <div class="col-sm-2">
                    <label for="editEventAddressLat">OR</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" value="" id="editEventAddressLat" placeholder="Latitude">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" value="" id="editEventAddressLng" placeholder="Longitude">
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-info btn-sm" id="editEventAddressLocate"><span class="glyphicon glyphicon-search"></span></button>
                  </div>
                </div>
              </dd>
              <dd>
                <div id="eventMap" style="width: 100%; height: 380px;"></div>
              </dd>
            </dl>
            <dl>
              <dt>Event Type</dt>
              <dd>

                <input class="newEventTypeBox" v-model="checkedType[0]" id="selectType0" type="checkbox" value="conflict" /><label class="eventBox">&nbsp Armed Conflict</label><br>
                <input class="newEventTypeBox" v-model="checkedType[1]" id="selectType1" type="checkbox" value="epidemiological" /><label class="eventBox">&nbsp Disease Outbreak</label><br>
                <div id="divDisease" style="display:none; margin-left: 20px;">
                  <input class="newSubEventTypeBox" v-model="diseaseType[0]" id="diseaseType0" type="checkbox" value="Cholera" /><label class="eventBox">&nbsp Cholera</label><br>
                  <input class="newSubEventTypeBox" v-model="diseaseType[1]" id="diseaseType1" type="checkbox" value="Ebola" /><label class="eventBox">&nbsp Ebola</label><br>
                  <input class="newSubEventTypeBox" v-model="diseaseType[2]" id="diseaseType2" type="checkbox" value="Dengue" /><label class="eventBox">&nbsp Dengue</label><br>
                  <input class="newSubEventTypeBox" v-model="diseaseType[3]" id="diseaseType3" type="checkbox" value="Malaria" /><label class="eventBox">&nbsp Malaria</label><br>
                  <input class="newSubEventTypeBox" v-model="diseaseType[4]" id="diseaseType4" type="checkbox" value="Measles" /><label class="eventBox">&nbsp Measles</label><br>
                  <input class="newSubEventTypeBox" v-model="diseaseType[5]" id="diseaseType5" type="checkbox" value="Meningococcal Meningitis" /><label class="eventBox">&nbsp Meningococcal Meningitis</label><br>
                  <input class="newSubEventTypeBox" v-model="diseaseType[6]" id="diseaseType6" type="checkbox" value="Yellow Fever" /><label class="eventBox">&nbsp Yellow Fever</label><br>
                  <input class="newSubEventTypeBox" v-model="diseaseType[7]" id="diseaseType7" type="checkbox" value="Other Disease" /><label class="eventBox">&nbsp Other (Specify)</label>
                  <div class="form-group" id="divOtherDisease"  style="display:none;">
                    <input type="text" v-model="diseaseOther" id="diseaseType8" class="form-control" placeholder="(Specify)" >
                  </div>
                </div>
                <input class="newEventTypeBox" v-model="checkedType[2]" id="selectType2" type="checkbox" value="displacement" /><label class="eventBox">&nbsp Displacement</label><br>
                <input class="newEventTypeBox" v-model="checkedType[3]" id="selectType3" type="checkbox" value="malnutrition" /><label class="eventBox">&nbsp Malnutrition</label><br>
                <input class="newEventTypeBox" v-model="checkedType[4]" id="selectType4" type="checkbox" value="natural_hazard" /><label class="eventBox">&nbsp Natural Disaster</label><br>
                <div id="divNaturalDisaster" style="display:none; margin-left: 20px;">
                  <input class="newSubEventTypeBox" v-model="disasterType[0]" id="disasterType0" type="checkbox" value="drought" /><label class="eventBox">&nbsp Drought</label><br>
                  <input class="newSubEventTypeBox" v-model="disasterType[1]" id="disasterType1" type="checkbox" value="earthquake" /><label class="eventBox">&nbsp Earthquake</label><br>
                  <input class="newSubEventTypeBox" v-model="disasterType[2]" id="disasterType2" type="checkbox" value="flood" /><label class="eventBox">&nbsp Flood</label><br>
                  <input class="newSubEventTypeBox" v-model="disasterType[3]" id="disasterType3" type="checkbox" value="tsunami" /><label class="eventBox">&nbsp Tsunami</label><br>
                  <input class="newSubEventTypeBox" v-model="disasterType[4]" id="disasterType4" type="checkbox" value="typhoon" /><label class="eventBox">&nbsp Typhoon</label><br>
                  <input class="newSubEventTypeBox" v-model="disasterType[5]" id="disasterType5" type="checkbox" value="volcano" /><label class="eventBox">&nbsp Volcano</label><br>
                  <input class="newSubEventTypeBox" v-model="disasterType[6]" id="disasterType6" type="checkbox" value="landslides" /><label class="eventBox">&nbsp Landslides</label><br>
                  <input class="newSubEventTypeBox" v-model="disasterType[7]" id="disasterType7" type="checkbox" value="other disaster" /><label class="eventBox">&nbsp Other (Specify)</label>
                  <div class="form-group" id="divOtherDisaster"  style="display:none;">
                    <input type="text" v-model="disasterOther" id="disasterType8" class="form-control" placeholder="(Specify)" >
                  </div>
                </div>
                <input class="newEventTypeBox" v-model="checkedType[5]" id="selectType5" type="checkbox" value="search_and_rescue" /><label class="eventBox">&nbsp Search & Rescue</label><br>
                <input class="newEventTypeBox" v-model="checkedType[6]" id="selectType6" type="checkbox" value="other" /><label class="eventBox">&nbsp Other (Specify)</label>
                <div class="form-group" id="divOther"  style="display:none;">
                  <input type="text" v-model="typeOther" id="selectType7" class="form-control" placeholder="(Specify)" >
                </div>

              </dd>
            </dl>
            <dl>
              <dt>Region</dt>
              <dd>
                <input id="eventRegion" type="text" v-model="event.metadata.region" class="form-control" placeholder="Region" />
              </dd>
            </dl>
            <dl>
              <dt>Open Date of event</dt>
              <dd>{{ event.metadata.event_datetime | formatFullDate }}</dd>
            </dl>
            <dl>
              <dt>Status</dt>
              <dd class="padding-bottom">
                <select v-model="event.metadata.event_status" class="form-control">
                  <option disabled value="">Please select one</option>
                  <option v-for="item in statuses" :value="item.value">{{ item.text }}</option>
                </select>
              </dd>
              <dd>
                <date-picker v-model="event.metadata.event_status_date" :config="{format: 'YYYY-MM-DD'}" placeholder="Date on status update"></date-picker>
              </dd>
            </dl>
            <dl>
              <dt>Date and hours (local time) of the disaster</dt>
              <dd>
                <date-picker v-model="event.metadata.event_local_time"></date-picker>
              </dd>
            </dl>
            <dl>
              <dt>Mission Contact Person</dt>
              <dd class="padding-bottom">
                <input type="text" class="form-control" v-model="event.metadata.incharge_position" placeholder="Position" />
              </dd>
              <dd class="padding-bottom">
                <input type="text" class="form-control" v-model="event.metadata.incharge_name" placeholder="Name" />
              </dd>
              <dd class="padding-bottom">
                <date-picker v-model="event.metadata.mission_contact_person.arrival_time" placeholder="Arrival time"></date-picker>
              </dd>
              <dd class="padding-bottom">
                <date-picker v-model="event.metadata.mission_contact_person.departure_time" placeholder="Departure time"></date-picker>
              </dd>
            </dl>
            <dl>
              <dt>Main results of the explo-event</dt>
              <dd>
                <textarea v-model.trim="event.metadata.exploratory_details" placeholder="Main results" class="form-control"></textarea>
              </dd>
            </dl>
            <dl>
              <dt>Analysis of severity</dt>
              <dd class="padding-bottom">
                <textarea v-model.trim="event.metadata.severity" placeholder="Severity description" class="form-control"></textarea>
              </dd>
              <dd class="padding-bottom">
                <div class="form-group">
                  Scale: <div id="inputSeverityScale"></div>
                </div>
              </dd>
            </dl>
            <div class="clearfix">&nbsp;</div>
            <dl>
              <dt>Security information</dt>
              <dd>
                <textarea v-model.trim="event.metadata.security_details" placeholder="Security details" class="form-control"></textarea>
              </dd>
            </dl>
            <dl>
              <dt>ID link - SharePoint</dt>
              <dd>
                <input type="text" class="form-control" v-model="event.metadata.sharepoint_link" placeholder="SharePoint Link" />
              </dd>
            </dl>
          </div>
        </div>
        </div>
      </div>
    </div>
      </div>
      <div class="col-sm-7">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                  MSF Response
                </a>
              </h4>
            </div>
            <div id="collapseOne1" :class="{'panel-collapse':true, 'collapse':true, 'in':(editCategory=='response')}" role="tabpanel" aria-labelledby="headingOne">
              <ul class="list-group">
                <li class="list-group-item">
                  <dl>
                    <dt>MSF response / type of programmes</dt>
                    <dd>
                      <div v-for="item in msfTypeOfProgrammes" class="type-of-programmes">
                        <label>
                          <input type="checkbox" :value="item.value" v-model="event.metadata.msf_response_types_of_programmes" /> {{ item.text }}
                        </label>
                      </div>
                    </dd>
                    <dd>
                      <textarea v-model="event.metadata.msf_response" placeholder="MSF response" class="form-control"></textarea>
                    </dd>
                  </dl>
                  <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Start Date of the MSF response</dt>
                    <dd>
                      <date-picker v-model="event.metadata.start_date_msf_response" :config="{format: 'YYYY-MM-DD'}" placeholder="Start date"></date-picker>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>End Date of the MSF response</dt>
                    <dd>
                      <date-picker v-model="event.metadata.end_date_msf_response" :config="{format: 'YYYY-MM-DD'}" placeholder="End date"></date-picker>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Location of MSF response</dt>
                    <dd class="bottom-margined">
                      <input type="text" class="form-control input-sm" placeholder="Search address/location..." id="editEventRespAddress">
                    </dd>
                    <dd class="bottom-margined">
                      <div class="row">
                        <div class="col-sm-2">
                          <label for="editEventRespAddressLat">OR</label>
                        </div>
                        <div class="col-sm-4">
                          <input type="text" class="form-control input-sm" value="" id="editEventRespAddressLat" placeholder="Latitude">
                        </div>
                        <div class="col-sm-4">
                          <input type="text" class="form-control input-sm" value="" id="editEventRespAddressLng" placeholder="Longitude">
                        </div>
                        <div class="col-sm-2">
                          <button type="button" class="btn btn-info btn-sm" id="editEventRespAddressLocate"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                      </div>
                    </dd>
                    <dd>
                      <div id="msfResponseMap" style="width: 100%; height: 380px;"></div>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Operational Center</dt>
                    <dd>
                      <div v-for="item in msfOperationalCenters" class="operational-centers">
                        <label>
                          <input type="checkbox" :value="item" v-model="event.metadata.msf_response_operational_centers" /> {{ item }}
                        </label>
                      </div>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-5">
                      <dl>
                        <dt>Medical material:</dt>
                        <dd>
                          <div v-for="item in msfMedicalMaterials" class="operational-centers">
                            <label>
                              <input type="checkbox" :value="item" v-model="event.metadata.msf_response_medical_material" /> {{ item }}
                            </label>
                          </div>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-sm-3">
                      <dl>
                        <dt>Total</dt>
                        <dd>
                          <input type="number" v-model.number="event.metadata.msf_response_medical_material_total" class="form-control" placeholder="Exact number of supplies" />
                        </dd>
                      </dl>
                    </div>
                    <div class="col-sm-4">
                      <dl>
                        <dt>Date of arrival</dt>
                        <dd>
                          <date-picker v-model="event.metadata.msf_response_medical_material_date_arrival" :config="{format: 'YYYY-MM-DD'}" placeholder="Date of arrival"></date-picker>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-5">
                      <dl>
                        <dt>Non Medical material:</dt>
                        <dd>
                          <div v-for="item in msfNonMedicalMaterials" class="operational-centers">
                            <label>
                              <input type="checkbox" :value="item" v-model="event.metadata.msf_response_non_medical_material" /> {{ item }}
                            </label>
                          </div>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-sm-3">
                      <dl>
                        <dt>Total</dt>
                        <dd>
                          <input type="number" v-model.number="event.metadata.msf_response_non_medical_material_total" class="form-control" placeholder="Exact number of supplies" />
                        </dd>
                      </dl>
                    </div>
                    <div class="col-sm-4">
                      <dl>
                        <dt>Date of arrival</dt>
                        <dd>
                          <date-picker v-model="event.metadata.msf_response_non_medical_material_date_arrival" :config="{format: 'YYYY-MM-DD'}" placeholder="Date of arrival"></date-picker>
                        </dd>
                      </dl>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                  External Capacity
                </a>
              </h4>
            </div>
            <div id="collapseTwo1" :class="{'panel-collapse':true, 'collapse':true, 'in':(editCategory=='externalcap')}" role="tabpanel" aria-labelledby="headingTwo">
              <ul class="list-group">
                <li class="list-group-item">
                  <dl>
                    <dt>Analysis of capacity on the ground</dt>
                    <dd>
                      <label>
                        <input type="radio" value="medical" v-model="event.metadata.ext_capacity_type_in_ground" /> Medical
                      </label>
                      <label>
                        <input type="radio" value="non_medical" v-model="event.metadata.ext_capacity_type_in_ground" /> Non-Medical
                      </label>
                    </dd>
                    <dd class="padding-bottom">
                      <textarea v-model.trim="event.metadata.capacity" placeholder="Government capacity" class="form-control"></textarea>
                    </dd>
                    <dd class="padding-bottom">
                      <textarea v-model.trim="event.metadata.ext_capacity_by_humanitarian" placeholder="Humanitarian" class="form-control"></textarea>
                    </dd>
                    <dd class="padding-bottom">
                      <textarea v-model.trim="event.metadata.ext_capacity_action_plan" placeholder="Action plan" class="form-control"></textarea>
                    </dd>
                    <dd class="padding-bottom">
                      <input type="text" v-model="event.metadata.ext_capacity_who" class="form-control" placeholder="Who" />
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <header>OTHER ORGANIZATIONS, PARTNERS INVOLVED</header>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>NGO</th>
                            <th>Deployment</th>
                            <th>Arrival</th>
                            <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in event.metadata.ext_other_organizations">
                            <td>
                              <input type="text" class="form-control" v-model="item.name" />
                            </td>
                            <td>
                              <input type="text" class="form-control" v-model.number="item.deployment" />
                            </td>
                            <td>
                              <date-picker v-model="item.arrival_date" :config="{format: 'YYYY-MM-DD'}" placeholder="Date of arrival"></date-picker>
                            </td>
                            <td>
                              <button type="button" class="btn btn-xs btn-danger" v-on:click="removeOtherOrg(index)">X</button>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="4">
                              <button type="button" class="btn btn-xs btn-success" v-on:click="addOtherOrg">Add more organization</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                  Key Figures
                </a>
              </h4>
            </div>
            <div id="collapseThree1" :class="{'panel-collapse':true, 'collapse':true, 'in':(editCategory=='medfigures')}" role="tabpanel" aria-labelledby="headingThree">
              <ul class="list-group">
                <li class="list-group-item">
                  <dl>
                    <dt>Figures</dt>
                    <dd>
                      <div class="row">
                        <div class="col-sm-6">
                          <div v-if="event.metadata.keyMSFFigures.length === 0">
                            <div class="well">No MSF Figure yet.</div>
                          </div>
                          <div class="clearfix">&nbsp;</div>
                          <div v-for="(item, index) in event.metadata.keyMSFFigures">
                            <div class="row">
                              <div class="col-sm-2">
                                <button class="btn btn-xs btn-danger" @click="removeMSFfigure(item, index)">X</button>
                              </div>
                              <div class="col-sm-10">
                                <input type="range" min="1" max="10" step="1" v-model="item.range" v-on:input="updateFigureValue(item, index)" />
                              </div>
                              <div class="col-sm-12">
                                <label>{{ item.category | relaceUnderscore }}: {{ item.value | formatedNumber }}</label>
                                <div v-if="item.category === 'others' || item.category === 'measles_or_others_(be_specify)_vaccinations'">
                                  <input type="text" v-model="item.description" class="form-control" placeholder="Please Specify" />
                                </div>
                              </div>
                            </div>
                            <hr/>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div v-for="(item, index) in keyMSFFigures">
                            <a href="#" @click="addSelectedMSFfigures(item)"><i class="glyphicon glyphicon-ok" /> {{ item | relaceUnderscore }}</a>
                          </div>
                        </div>
                      </div>
                    </dd>
                    <dd>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Population in total for zone impacted</dt>
                    <dd>
                      <div class="row">
                        <div class="col-sm-4">
                          <input type="number" class="form-control" v-model.number="event.metadata.population_total" v-on:change="calculatePercentagePeopleAffected" placeholder="Total population" />
                        </div>
                        <div class="col-sm-8">
                          <textarea v-model.trim="event.metadata.population_total_description" placeholder="Description" class="form-control"></textarea>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Population affected</dt>
                    <dd>
                      <div class="row">
                        <div class="col-sm-4">
                          <input type="number" class="form-control col-sm-3" v-model.number="event.metadata.population_affected" v-on:change="calculatePercentagePeopleAffected" placeholder="Affected population" />
                        </div>
                        <div class="col-sm-8">
                          <textarea v-model.trim="event.metadata.population_affected_description" placeholder="Description" class="form-control"></textarea>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Percentage of people affected</dt>
                    <dd>
                      <div class="row">
                        <div class="col-xs-4">
                          <input type="number" class="form-control col-sm-3" v-model.number="event.metadata.percentage_population_affected" placeholder="Affected population" />
                        </div>
                      </div>
                    </dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                  MSF Resources
                </a>
              </h4>
            </div>
            <div id="collapseFour1" :class="{'panel-collapse':true, 'collapse':true, 'in':(editCategory=='resources')}" role="tabpanel" aria-labelledby="headingFour">
              <ul class="list-group">
                <li class="list-group-item">
                  <dl>
                    <dt>Staff list — human resources</dt>
                    <dd>
                      <textarea v-model.trim="event.metadata.msf_resource_staff_list" placeholder="Contact(s)" class="form-control"></textarea>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Expatriate</dt>
                    <dd>
                      <textarea v-model.trim="event.metadata.msf_resource_staff_expatriate" placeholder="Contact(s)" class="form-control"></textarea>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>National staff</dt>
                    <dd>
                      <textarea v-model.trim="event.metadata.msf_resource_staff_national" placeholder="Contact(s)" class="form-control"></textarea>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item hidden">
                  <div class="row">
                    <div class="col-sm-6">
                      <dl>
                        <dt>When were they hired by MSF?</dt>
                        <dd>
                          <date-picker v-model="event.metadata.msf_resource_hired_date" :config="{format: 'YYYY-MM-DD'}" placeholder="Hired date"></date-picker>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-sm-6">
                      <dl>
                        <dt>When do they arrive on the ground?</dt>
                        <dd>
                          <date-picker v-model="event.metadata.msf_resource_arrive_to_ground" :config="{format: 'YYYY-MM-DD'}" placeholder="Arrive to ground date"></date-picker>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <dl>
                    <dt>Category</dt>
                    <dd>
                      <select v-model="event.metadata.msf_resource_category" class="form-control">
                        <option disabled value="">Please select one</option>
                        <option v-for="item in msfResourceCategories" :value="item">{{ item | relaceUnderscore }}</option>
                      </select>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Name</dt>
                    <dd></dd>
                  </dl>
                  <dl>
                    <dt>Function</dt>
                    <dd></dd>
                  </dl>
                  <dl>
                    <dt>Contact number</dt>
                    <dd></dd>
                  </dl>
                  <dl>
                    <dt>Comments/Evaluation</dt>
                    <dd></dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Visa requirement</dt>
                    <dd>
                      <label>Nationality</label>
                      <div style="display:block;" v-for="(nat,ind) in event.metadata.msf_resource_visa_requirement.nationality">
                         <country-select :options="countryParams" v-model="nat" @input="countryChanged($event,ind)"></country-select>

                           <label>Required:</label>
                           <label>
                             <input type="radio" :name="'nationalityRequired_'+ind" v-model="nat.is_required" value="yes"> Yes
                           </label>
                           <label>
                             <input type="radio" :name="'nationalityRequired_'+ind" v-model="nat.is_required" value="no"> No
                           </label>

                         <button type="button" class="btn btn-danger btn-xs" style="float:right;" @click="removeNationalityField(ind)">x</button>
                      </div>
                      <button type="button" class="btn btn-success btn-xs" @click="addNationalityField">Add another nationality</button>
                    </dd>

                    <dd>
                      <label>Description:</label>
                      <textarea v-model.trim="event.metadata.msf_resource_visa_requirement.description" placeholder="Specify" class="form-control"></textarea>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Budget</dt>
                    <dd>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Amount</th>
                            <th>From who</th>
                            <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in event.metadata.msf_resource_budget">
                            <td>
                              <input type="text" class="form-control" v-model="item.amount" />
                            </td>
                            <td>
                              <input type="text" class="form-control" v-model.number="item.from_who" />
                            </td>
                            <td>
                              <button type="button" class="btn btn-xs btn-danger" v-on:click="removeResourceBudget(index)">X</button>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="4">
                              <button type="button" class="btn btn-xs btn-success" v-on:click="addResourceBudget">Add more budget</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Institutional Donors</dt>
                    <dd>
                      <textarea v-model.trim="event.metadata.msf_resource_institutional_donors" placeholder="Donors" class="form-control"></textarea>
                    </dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
                  Reflection and comments
                </a>
              </h4>
            </div>
            <div id="collapseFive1" :class="{'panel-collapse':true, 'collapse':true, 'in':(editCategory=='reflection')}" role="tabpanel" aria-labelledby="headingFive">
              <ul class="list-group">
                <li class="list-group-item">
                  <dl>
                    <dt>Practical Details / Recommendations</dt>
                    <dd>
                      <textarea v-model.trim="event.metadata.msf_ref_com_practical_details_recomm" placeholder="Description" class="form-control"></textarea>
                    </dd>
                  </dl>
                </li>
                <li class="list-group-item">
                  <dl>
                    <dt>Reflection / Comments on intervention</dt>
                    <dd>
                      <textarea v-model.trim="event.metadata.msf_ref_com_reflection_comments" placeholder="Description" class="form-control"></textarea>
                    </dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" @click="submitEventData">Save Edits</button>
  </div>
</section>
<script type="text/javascript">
Vue.component("date-picker", VueBootstrapDatetimePicker.default);


Vue.component('country-select', {
  props: ['options', 'value'],
  template: '<input  type="text" class="form-control input-sm" >',
  mounted: function () {
    var vmc = this
    $(this.$el)
      .countrySelect(this.options)
      .countrySelect("selectCountry", this.value.iso2)
      .trigger('change')
      // emit event on change.
      .on('change', function () {
        var country = $(this).countrySelect("getSelectedCountryData");
        vmc.$emit('input', country)
      })
  },
  watch: {
    value: function (value) {
      // update value
      $(this.$el).countrySelect("selectCountry", value.iso2);
    },
    options: function (options) {
      $(this.$el).countrySelect(options);
    }
  },
  destroyed: function () {
    $(this.$el).off().countrySelect('destroy')
  }
})



Vue.filter('formatDateOnly', function(value) {
  if (value) {
    return moment(value).format('YYYY-MM-DD');
  }
});

Vue.filter('formatFullDate', function(value) {
  if (value) {
    return moment(value).format('LLL');
  } else {
    return "N/A";
  }
});

Vue.filter('formatedNumber', function(value) {
  return value.toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
});

Vue.filter('relaceUnderscore', function(value) {
  return replaceUnderscore(value);
});

var replaceUnderscore = function(value) {
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }
  value = capitalizeFirstLetter(value);
  value = value.replace(/__/g, "-");
  return value.replace(/_/g, " ");
}

var eventMap;
var msfResponseMap;
var eventMapLayerControl;
var msfResponseMapLayerControl;

var zoomToBounds = function(bounds) {
    console.log("cc3")
    console.log(bounds);
    var rBounds = L.latLngBounds(L.latLng(bounds._southWest.lat,bounds._southWest.lng),L.latLng(bounds._northEast.lat,bounds._northEast.lng));
    eventMap.fitBounds(rBounds);
    msfResponseMap.fitBounds(rBounds);
}

var vm = new Vue({
  el: "#editEventVue",
  data: {
    statuses: statuses,
    emergencies: emergencies,
    emergenciesWithTypes: emergenciesWithTypes,
    msfTypeOfProgrammes: msfTypeOfProgrammes,
    msfOperationalCenters: msfOperationalCenters,
    keyMSFFigures: keyMSFFigures,
    msfResourceCategories: msfResourceCategories,
    event: $.extend(true, defaultEvent, currentEventProperties),
    currentEventGeometry: currentEventGeometry,
    checkedType: [],
    typeOther: '',
    diseaseType: [],
    diseaseOther: '',
    disasterType: [],
    disasterOther: '',
    editCategory:editCategory
  },
  mounted: function() {
    console.log("Vue already mounted.");

    // for each checkbox
    // check if type is a substr of event.types
    // if so, check it

    for (var i = 0; i < 7; i++) {
        if (this.event.type.toString().toLowerCase().indexOf($('#selectType' + i).val().toString().toLowerCase()) !== -1) {
            this.checkedType[i] = true;
            if (i === 1) {
                $('#divDisease').css('display', '');
            } else if (i === 4) {
                $('#divNaturalDisaster').css('display', '');
            }
        }
    }

    for (var i = 0; i < 8; i++) {
        if (this.event.metadata.sub_type.toString().toLowerCase().indexOf($('#diseaseType' + i).val().toString().toLowerCase()) !== -1) {
            this.diseaseType[i] = true;
        }
    }

    for (var i = 0; i < 8; i++) {
        if (this.event.metadata.sub_type.toString().toLowerCase().indexOf($('#disasterType' + i).val().toString().toLowerCase()) !== -1) {
            this.disasterType[i] = true;
        }
    }

    if (_.isEmpty(this.event.metadata.msf_response_operational_centers)) {
      var optCenter = this.event.metadata.operational_center;
      this.event.metadata.msf_response_operational_centers.push(optCenter);
    }

    if (_.isEmpty(this.event.metadata.ext_other_organizations)) {
      this.event.metadata.ext_other_organizations.push({
        name: this.event.metadata.other_orgs,
        deployment: this.event.metadata.deployment,
        arrival_date: null
      });
    }

    $( '#inputSeverityScale' ).slider({
        value: typeof(this.event.metadata.severity_scale) !=='undefined' ? Number(this.event.metadata.severity_scale) : 2,
        min: 1,
        max: 3,
        step: 1
    })
        .each(function() {
            console.log('each');

            //
            // Add labels to slider whose values
            // are specified by min, max and whose
            // step is set to 1
            //

            // Get the options for this slider
            var opt = $(this).data().uiSlider.options;

            // Get the number of possible values
            var vals = opt.max - opt.min;

            // Space out values
            for (var i = 0; i <= vals; i++) {

                var el = $('<label>'+severityLabels[i]+'</label>').css('left',(i/vals*100)+'%');

                $( '#inputSeverityScale' ).append(el);

            }

        });

    $('textarea').flexText();
    this.calculatePercentagePeopleAffected();



    this.$nextTick(function() {

        var eventDefaultLatLng = [currentEventGeometry.coordinates[1], currentEventGeometry.coordinates[0]];



          /** << eventMap */
          eventMap = L.map('eventMap',{dragging: !L.Browser.mobile, tap:false});


          eventMap.scrollWheelZoom.disable();

          //Bind Autocomplete to inputs:
          function bindAutocompletes()
          {
            if ((!google)||(!google.maps))
              {
                setTimeout(bindAutocompletes,200);
                console.log('not ready, retrying in 0.2s...');
                return;
              }
            bindACInputToMap(eventMap,'editEventAddress',true);
          }

          bindAutocompletes();

          var eventMarker = L.marker(eventDefaultLatLng).addTo(eventMap);

          /*
          var latlng = null;
          eventMap.on('click', function(e) {
            if (eventMarker) {
              eventMap.removeLayer(eventMarker);
            }
            latlng = e.latlng;
            Vue.set(vm.currentEventGeometry, 'coordinates', [latlng.lng, latlng.lat]);
            eventMarker = L.marker(e.latlng).addTo(eventMap);
          });
          */
          /** eventMap >> */

          /** << msfResponseMap */
          var msfResponseMarkerLatLng = eventDefaultLatLng;
          if (!_.isEmpty(this.event.metadata.msf_response_location.coordinates)) {
            msfResponseMarkerLatLng = [this.event.metadata.msf_response_location.coordinates[1], this.event.metadata.msf_response_location.coordinates[0]];
          }

          msfResponseMap = L.map('msfResponseMap',{dragging: !L.Browser.mobile, tap:false});
          msfResponseMap.scrollWheelZoom.disable();

          //Bind Autocomplete to inputs:
          function bindRespAutocompletes()
          {
            if ((!google)||(!google.maps))
              {
                setTimeout(bindRespAutocompletes,200);
                console.log('not ready, retrying in 0.2s...');
                return;
              }
            bindACInputToMap(msfResponseMap,'editEventRespAddress',true);
          }

          bindRespAutocompletes();



          var msfResponseMarker = L.marker(msfResponseMarkerLatLng).addTo(msfResponseMap);

          var msflatlng = null;
          msfResponseMap.on('click', function(e) {
            if (msfResponseMarker) {
              msfResponseMap.removeLayer(msfResponseMarker);
            }
            msflatlng = e.latlng;
            Vue.set(vm.event.metadata.msf_response_location, 'coordinates', [msflatlng.lng, msflatlng.lat]);
            msfResponseMarker = L.marker(e.latlng).addTo(msfResponseMap);
          });
          /** msfResponseMap >> */

          // Add some base tiles
          var eventMapboxTerrain = L.tileLayer('https://api.mapbox.com/styles/v1/acrossthecloud/cj9t3um812mvr2sqnr6fe0h52/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWNyb3NzdGhlY2xvdWQiLCJhIjoiY2lzMWpvOGEzMDd3aTJzbXo4N2FnNmVhYyJ9.RKQohxz22Xpyn4Y8S1BjfQ', {
              attribution: '© Mapbox © OpenStreetMap © DigitalGlobe',
              minZoom: 0,
              maxZoom: 18
          });

          // Add some satellite tiles
          var eventMapboxSatellite = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidG9tYXN1c2VyZ3JvdXAiLCJhIjoiY2o0cHBlM3lqMXpkdTJxcXN4bjV2aHl1aCJ9.AjzPLmfwY4MB4317m4GBNQ', {
              attribution: '© Mapbox © OpenStreetMap © DigitalGlobe'
          });

          // OSM HOT tiles
          var eventOpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
          });
          // Add some base tiles
          var msfResponseMapboxTerrain = L.tileLayer('https://api.mapbox.com/styles/v1/acrossthecloud/cj9t3um812mvr2sqnr6fe0h52/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWNyb3NzdGhlY2xvdWQiLCJhIjoiY2lzMWpvOGEzMDd3aTJzbXo4N2FnNmVhYyJ9.RKQohxz22Xpyn4Y8S1BjfQ', {
              attribution: '© Mapbox © OpenStreetMap © DigitalGlobe',
              minZoom: 0,
              maxZoom: 18
          });

          // Add some satellite tiles
          var msfResponseMapboxSatellite = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidG9tYXN1c2VyZ3JvdXAiLCJhIjoiY2o0cHBlM3lqMXpkdTJxcXN4bjV2aHl1aCJ9.AjzPLmfwY4MB4317m4GBNQ', {
              attribution: '© Mapbox © OpenStreetMap © DigitalGlobe'
          });

          // OSM HOT tiles
          var msfResponseOpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
          });

    switch (Cookies.get('MapLayer')) {
    case 'Satellite':
        eventMapboxSatellite.addTo(eventMap);
        msfResponseMapboxSatellite.addTo(msfResponseMap);
        break;
    case 'Terrain':
        eventMapboxTerrain.addTo(eventMap);
        msfResponseMapboxTerrain.addTo(msfResponseMap);
        break;
    default:
        eventOpenStreetMap_HOT.addTo(eventMap);
        msfResponseOpenStreetMap_HOT.addTo(msfResponseMap);
    }


    var eventBaseMaps = {
        'Terrain': eventMapboxTerrain,
        'Satellite' : eventMapboxSatellite,
        'Humanitarian': eventOpenStreetMap_HOT
    };


    var msfResponseBaseMaps = {
        'Terrain': msfResponseMapboxTerrain,
        'Satellite' : msfResponseMapboxSatellite,
        'Humanitarian': msfResponseOpenStreetMap_HOT
    };

    eventMap.on('baselayerchange', function(baselayer) {
        Cookies.set('MapLayer',baselayer.name);
    });

    msfResponseMap.on('baselayerchange', function(baselayer) {
        Cookies.set('MapLayer',baselayer.name);
    });

    var groupedOverlays = {
        'RSS Feeds': {},
        'Contacts': {}
    };

    var groupOptions = {'groupCheckboxes': true, 'position': 'bottomleft'};

    var overlayMaps = {};

    eventMapLayerControl = L.control.groupedLayers(eventBaseMaps, groupedOverlays, groupOptions).addTo(eventMap);
    msfResponseMapLayerControl = L.control.groupedLayers(msfResponseBaseMaps, groupedOverlays, groupOptions).addTo(msfResponseMap);

    getAllEvents(mapEditEvents);

    getFeeds('/api/hazards/pdc',mapEditPDCHazards);
    getFeeds('/api/hazards/tsr',mapEditTSRHazards);
    getFeeds('/api/hazards/usgs',mapEditUSGSHazards);
    getFeeds('/api/hazards/gdacs',mapEditGDACSHazards);
    getFeeds('/api/hazards/ptwc',mapEditPTWCHazards);
    initGetMissions(mapEditMissions);
    initGetContacts(mapEditContacts);


    eventMap.on('overlayadd', function (layersControlEvent) {
        Cookies.set(layersControlEvent.name,'on');
    });

    eventMap.on('overlayremove', function (layersControlEvent) {
        Cookies.set(layersControlEvent.name,'off');
    });

    msfResponseMap.on('overlayadd', function (layersControlEvent) {
        Cookies.set(layersControlEvent.name,'on');
    });

    msfResponseMap.on('overlayremove', function (layersControlEvent) {
        Cookies.set(layersControlEvent.name,'off');
    });

    eventMap.doubleClickZoom.disable();
    eventMap.on('dblclick', function(dblclickEvent) {
        latlng = dblclickEvent.latlng;
        $.ajax({
          type: "PATCH",
          url: "/api/events/updatelocation/" + currentEventId,
          data: JSON.stringify({location: {lat: latlng.lat, lng: latlng.lng}}),
          contentType: 'application/json'
        }).done(function(data, textStatus, req) {
            setTimeout(function() {
              window.location.reload(true);
            }, 1000);
        }).fail(function(err) {
          if (err.responseText.includes('expired')) {
            alert("session expired");
          }
        });
    });


      setTimeout(function() {
        eventMap.invalidateSize(true);
        msfResponseMap.invalidateSize(true);
        if (currentEventProperties.metadata.hasOwnProperty('bounds')) {
          console.log('cc')
          console.log(currentEventProperties.metadata.bounds);
          zoomToBounds(currentEventProperties.metadata.bounds);
        } else {
          eventMap.setView(eventDefaultLatLng, 13);
          msfResponseMap.setView(eventDefaultLatLng, 13);
        }

      }, 300);


    });
  },
  methods: {
    submitEventData() {
      var metadata = this.event.metadata;

      if ($('#inputNotification').val()) {
        if (currentEventProperties.metadata.hasOwnProperty('notification')) {
          currentEventProperties.metadata.notification.push({'notification_time': Date.now()/1000, 'notification': $('#inputNotification').val()});
        } else {
          currentEventProperties.metadata.notification = [{'notification_time': Date.now()/1000, 'notification': $('#inputNotification').val()}];
        }
      }

      //update sub types and add into db
      this.updateSubEventTypes();
      var subType = replaceUnderscore(this.event.sub_type.toString());
      metadata = _.extend(metadata, {
          operational_center: this.event.metadata.msf_response_operational_centers.toString(),
          //type_of_emergency: subType
          sub_type: subType
      });
      var body = {
        status: (this.event.metadata.event_status === 'complete' ? 'inactive' : 'active'),
        type: this.event.type.toString(),
        metadata: metadata
      }
      body.metadata['severity_scale']=$('#inputSeverityScale').slider('option', 'value');
      body.metadata['notification'] = currentEventProperties.metadata.notification;
      if ((body.type.includes('natural_hazard') || body.type.includes('epidemiological')) && body.metadata.sub_type == '') {
          alert('ensure subtype(s) is/are selected');
      } else {
          $.ajax({
            type: "PUT",
            url: "/api/events/" + currentEventId,
            data: JSON.stringify(body),
            contentType: 'application/json'
          }).done(function(data, textStatus, req) {
            window.location.href = '/events/?eventId=' + currentEventId;
          }).fail(function(err) {
            if (err.responseText.includes('expired')) {
              alert("session expired");
            }
          });
      }
    },
    addOtherOrg() {
      this.event.metadata.ext_other_organizations.push({
        name: null,
        deployment: 0,
        arrival_date: null,
      });
    },
    removeOtherOrg(index) {
      this.event.metadata.ext_other_organizations.splice(index, 1);
    },
    calculatePercentagePeopleAffected() {
      var percentage = (this.event.metadata.population_affected / this.event.metadata.population_total) * 100;
      this.event.metadata.percentage_population_affected = percentage.toFixed(2);
    },
    updateFigureValue(item, i) {
      this.event.metadata.keyMSFFigures[i].value = Math.pow(10, item.range);
    },
    addSelectedMSFfigures(item) {
      var newItem = { value: 0, range: 0, category: item, description: null };
      if (!_.find(this.event.metadata.keyMSFFigures, { category: item })) {
        this.event.metadata.keyMSFFigures.push(newItem);
        var index = this.keyMSFFigures.indexOf(item);
        if (index > -1) {
          this.keyMSFFigures.splice(index, 1);
        }
      }
    },
    removeMSFfigure(item, index) {
      this.keyMSFFigures.push(item.category);
      this.event.metadata.keyMSFFigures.splice(index, 1);
    },
    removeNationalityField(index){
      this.event.metadata.msf_resource_visa_requirement.nationality.splice(index,1);

    },
    addNationalityField(){
      this.event.metadata.msf_resource_visa_requirement.nationality.push({
          iso2: 'xx',
          name: null,
          is_required:true
      });

    },
    countryChanged(country,ind) {
      var obj={
        name:country.name,
        iso2:country.iso2,
        is_required: vm.event.metadata.msf_resource_visa_requirement.nationality[ind].is_required
      }
      Vue.set(vm.event.metadata.msf_resource_visa_requirement.nationality,ind, obj);
    },
    removeResourceBudget(index) {
      this.event.metadata.msf_resource_budget.splice(index, 1);
    },
    addResourceBudget() {
      this.event.metadata.msf_resource_budget.push({
        amount: 0,
        from_who: null,
      });
    },

    //update changes to event checkboxes and store value/s

    updateEventTypes() {
        console.log(this.event.type.toString());

        var eventTypes = [];
        eventTypes[0] = 'conflict';
        eventTypes[1] = 'epidemiological';
        eventTypes[2] = 'displacement';
        eventTypes[3] = 'malnutrition';
        eventTypes[4] = 'natural_hazard';
        eventTypes[5] = 'search_and_rescue';
        eventTypes[6] = 'other';
        var returnTypes = [];

        for(var i=0; i<7; i++) {
            if (this.checkedType[i] === true) {returnTypes.push(eventTypes[i]);}
        }

        this.event.type = returnTypes.join();
        console.log(this.event.type);
    },
    updateSubEventTypes() {

        var diseaseEventTypes = [];
        diseaseEventTypes[0] = 'Cholera';
        diseaseEventTypes[1] = 'Ebola';
        diseaseEventTypes[2] = 'Dengue';
        diseaseEventTypes[3] = 'Malaria';
        diseaseEventTypes[4] = 'Measles';
        diseaseEventTypes[5] = 'Meningococcal Meningitis';
        diseaseEventTypes[6] = 'Yellow Fever';
        diseaseEventTypes[7] = 'Other Disease';
        diseaseEventTypes[8] = this.diseaseOther;
        var returnDiseaseTypes = [];

        for(var i=0; i<8; i++) {
            if (this.diseaseType[i] === true) {returnDiseaseTypes.push(diseaseEventTypes[i]);}
        }
        if (diseaseEventTypes[8] !== '') {
            returnDiseaseTypes.push(diseaseEventTypes[8]);
        }

        var disasterEventTypes = [];
        disasterEventTypes[0] = 'drought';
        disasterEventTypes[1] = 'earthquake';
        disasterEventTypes[2] = 'flood';
        disasterEventTypes[3] = 'tsunami';
        disasterEventTypes[4] = 'typhoon';
        disasterEventTypes[5] = 'volcano';
        disasterEventTypes[6] = 'landslides';
        disasterEventTypes[7] = 'other disaster';
        disasterEventTypes[8] = this.disasterOther;
        var returnDisasterTypes = [];

        for(var i=0; i<8; i++) {
            if (this.disasterType[i] === true) {returnDisasterTypes.push(disasterEventTypes[i]);}
        }
        if (disasterEventTypes[8] !== '') {
            returnDisasterTypes.push(disasterEventTypes[8]);
        }

        //if statement adding subtypes together or separate
        if (Boolean(returnDisasterTypes.toString()) == false) {
            this.event.sub_type = returnDiseaseTypes.join();
        } else if (Boolean(returnDiseaseTypes.toString()) == false) {
            this.event.sub_type = returnDisasterTypes.join();
        } else {
            this.event.sub_type = returnDiseaseTypes.join() + ',' + returnDisasterTypes.join();
        }
        console.log(this.event.sub_type);
    },
  },
  // watch when a checkbox is changed
  watch: {
      checkedType: {
          handler: function (val, oldVal) {
              this.updateEventTypes();
          },
          deep: true
      }
  }
});

// show/hide divs containing subtype checkboxes and 'other' text input
$('.newEventTypeBox').change(function () {

    console.log($('input[class=newEventTypeBox]:checked').map(
        function () {return this.value;}).get().join(', '));

    if($(this).attr('id') == 'selectType4') {
        $('#divNaturalDisaster').css('display', (this.checked ? '' : 'none'));
    }

    if($(this).attr('id') == 'selectType1') {
        $('#divDisease').css('display', (this.checked ? '' : 'none'));
    }

    if($(this).attr('id') == 'selectType6') {
        $('#divOther').css('display', (this.checked ? '' : 'none'));
    }
});

$('.newSubEventTypeBox').change(function () {
    if($(this).attr('id') == 'diseaseType7') {
        $('#divOtherDisease').css('display', (this.checked ? '' : 'none'));
        var diseaseTxt = $('#diseaseType8').val();
        $(this).val(diseaseTxt);
    }

    if($(this).attr('id') == 'disasterType7') {
        $('#divOtherDisaster').css('display', (this.checked ? '' : 'none'));
        var disasterTxt = $('#disasterType8').val();
        $(this).val(disasterTxt);
    }
});
$('#collapseOne1').on('shown.bs.collapse', function () {
  msfResponseMap.invalidateSize();
});
$('#collapseGeneral').on('shown.bs.collapse', function () {
  eventMap.invalidateSize();
});



</script>
