ul{
    list-style: none;
}

.eventSubContent{
    float: left;
    padding: 40px;
    width: calc(100% - 205px);
    .actions{
        float: right;
        cursor: pointer;
        button{

        }
    }
}
