@import "./util/colors.scss";

.datepicker-container{
    position: relative;
}
.row-spacing{
    margin-bottom: 2em;
}
.row-actions{
    a{
        padding-left: 12px;
        text-decoration: underline;
    }
}

.edit-wrapper{
    background: #0374C7;
    color: #fff;
    .inverse{
        input{
            color: $text-dark !important;
        }
    }
    .inverse::placeholder{
        color: $text-light-grey
    }
    .v-text-field > .v-input__control > .v-input__slot:before{
        display: none;
    }
    .v-text-field > .v-input__control > .v-input__slot:after{
        display: none;
    }
    input{
        border-bottom: 2px solid #fff;
    }
    input::placeholder{
        color: rgba(255, 255, 255, 0.5);
    }
    .v-input__control{
        flex-grow: .8;
        width: min-content;
    }
    .v-table{
        background: inherit;
        color: #fff;
        thead th{
            color: rgba(255, 255, 255, .54);
        }
        tbody tr:hover{
            background: initial;
        }
    }
    .v-select{
        .v-icon{
            color: rgba(255,255, 255, 0.54);
        }
        .v-list{
            background: #0374c7;
            color: #fff;
        }
        .v-list__tile{
            font-size: inherit;
            height: initial;
        }
    }
    .v-select.v-text-field input{
        position: absolute;

    }
    .accent--text{
        color: #fff !important;
    }
}
.responseContainer{
    .edit-wrapper{
        .v-input__control{
            flex-grow: .8;
            width: 95%;
        }
        .one-half{
            display: inline-block;
        }
    }
}


.action .cancel{
    margin-top: 20px;

}

.editTextArea textarea{
    color: initial !important;
}

.theme--dark.v-card {
    background-color: #0374C7;
    border-color: #0374C7;
}


.v-card.file-attachment{
    background: #fff;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}

.file-icon{
    margin: auto;
    width: 100%;
    margin-top: 33%;
    color: #707070;
}

textarea{
    color: #231F20;
}

.form-actions{
    text-decoration: underline;
}

.v-select__selection--comma{
    margin: 0;
}
.v-input {
    // font-size: 12px;
}
.v-input input{
    max-height: 20px;
}
.v-input .v-label{
    font-size: 14px;
    line-height: normal;
}

.v-text-field .v-label{
    top: 0;
}
.theme--light.v-chip{
    background: transparent;
    border: 1px white solid;
    color: #fff;
}
.v-chip .v-chip__content{
    height: inherit;
}
.theme--light.v-label{
    color: inherit;
}
.linkAttachment{
    border-radius: 50%;
}

.v-text-field>.v-input__control>.v-input__slot:before{
    border-style: none;
}


.showCrud{
    display: block;
}

.hide{
    display: none;
}

.autocomplete-fields{
    margin-top: 22px !important;
    .v-select__slot{
        height: 40px;
    }
    .v-input__control>.v-input__slot{
        background: inherit !important;
        :hover{
            background: inherit !important;
        }
    }
}

.edit-wrapper {
    .v-input:not(.v-input--is-disabled){
        input{
            color: #fff;
            ::placeholder{
                color: $text-light-grey;
            }
        }
    }
    .v-input--is-disabled{
        input{
            color: rgba(255, 255, 255, .38);
            border-bottom: 2px solid rgba(255, 255, 255, .38);
        }
    }
}
.no-border{
    border: 0;
}

.create-new{
    .editTextArea{
        border: 1px solid $bg-space-grey;
    }
}


.pac-container, .pac-item {
    width: inherit !important;
}
