@import "./util/colors.scss";
@import "msfStatus.scss";

textarea#sharepoint{
    opacity: 0;
}
.event-page{
    position: absolute;
    top: 40px;
    padding: 0;
}
.second-nav{
    margin-left: 30px;
}
.second-nav-links{
    color: #707070;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}
.second-nav-links.router-link-exact-active{

    font-weight: bold;
    border-bottom: 1px solid #000;
}

.eventList{
    top: 68px;
    position: relative;
}

.listHeader{
    z-index:3;
    display: flex;
    .v-input{

    }
    .v-select__selections{
        font-size: 10px;
    }
    .v-text-field{
        padding-top: 0px;
    }
    .v-input__control,
    .v-btn--floating.v-btn--small{
        background: #fff;
        border-radius: 20px;
    }
    .v-input__control{
        padding: 4px 21px;
        height: 40px;
    }

    .v-btn-toggle{
      display: flex;
        background: #d0d3da;
    }
}

.statusWrapper{
    border: 2px solid $bg-space-grey;
    width: 60%;
    label{
        margin-right: 10px; 
    }
}
