@import "./util/colors.scss";


label{
    display: block;
}


.one-half,
.one-third,
.quarter-width{
    display: inline-block;
    padding-right: 21px;
}


.create-wrapper{
    .v-text-field > .v-input__control > .v-input__slot:before{
        display: block;
        border-style: solid;
    }

    .v-input__control{
        flex-grow: .8;
    }
    .v-textarea > .v-input__control > .v-input__slot:before{
        border-style: none;
        :hover{
            border-color: transparent;
        }
    }
}

.sharepoint-input{
    margin-top: 21px;
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 50%;
    height: 40px;
    padding-left: 21px;
}

input#createEventGeolocate{
    height: 40px;

}

input#createEventGeolocate:focus{
    outline: none !important;
    outline-width: 0;
    border-bottom: solid 1px $bg-null-grey;
}

.top-align{
    div.one-third{
        vertical-align: top;
    }
}
