.sideTab{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 180px;
    height: 100vh;
}

.sideTab a{
    display: block;
    background-color: inherit;
    color: black;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    padding: 8px 12px;
    text-decoration: none;
}

/* Change background color of buttons on hover */
.sideTab a:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.sideTab a.router-link-exact-active{
    background-color: #ccc;
}

.tabcontent {
    // display:inline-block;
    // width: calc(100% - 208px);
    border: 1px solid #ccc;
    border-left: none;
    height: 100vh;
}


.justify-start{
    justify-content: start !important;
}

.flex{
    display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
