$main-color: lightgrey;

$body-bold-color: #231F20;
$body-light-color: #D7D8D7;

$warm-active: #EE0000;
$warm-passive: #F6DDCD;

$cool-active: #0374C7;
$cool-passive: #D0D3DA;

$ev-status-monitoring: #95E1D3;
$ev-status-exploration: #F38181;
$ev-status-ongoing: #FCE38A;
$ev-status-complete: #909297;
