$main-color: lightgrey;


$color-active: #0374c7;
$ev-status-monitoring: #95E1D3;
$ev-status-exploration: #F38181;
$ev-status-ongoing: #FCE38A;
$ev-status-intervention: #FFB677;
$ev-status-complete: #909297;
$bg-milk-grey: #e8e8e8;
$bg-space-grey: #D0D3Da;
