body{
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 500;
}

.secondary-text{
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: normal;
}

.tertiary-text{
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: lighter;
}

.small-header{
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Open Sans';
}

.bold-title{
  font-weight: bold;
  font-size: 34px;
  font-family: 'Open Sans';
}
