
#inputSeverityScale label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}
.ui-slider-horizontal{
  height: 5px !important;
}
.ui-slider-horizontal .ui-slider-handle{
  top: -.5em !important;
  border-radius: 8px !important;
}
.inputSlider{
  position: relative;
  width: 50%;
  float: right;
  margin: 2em;
}
.inputSlider label{
  position: absolute;
  width: 20px;
  margin-left: -10px;
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
}
.severity-wrapper .label{
  color: #000;
}
.severity-wrapper textarea{
  font-size: 11px;
  height: 115px;
}
/* below is not necessary, just for style */
#inputSeverityScale {
    width: 50%;
    height: auto;
    margin: 2em auto;
}

.datepicker-container{
  position: relative;
}

.map-container{
  position: relative;
}

.full-width{
  width: 100%;
}

.subTypes{
  margin-left: 20px;
}

span.remove{
  position: absolute;
  top: -2px;
  right: 5px;
  font-stretch: ultra-expanded;
  cursor: pointer;
  color: gray;
  font-weight: 300;
  font-size: 20px;
}

span.remove:hover{
  color: #000;
}
.tags{
  border: 1px solid transparent;
  /* margin: .5em; */
  padding: 5px;
  /* padding: 3px 18px 3px 8px; */
  /* border-radius: 4px; */
  /* border: 1px solid #ccc; */
  position: relative;
  box-sizing: border-box;
  /* display: inline-block; */

  width: 100%;
  margin-bottom: 2em;
}

.close-box{
  border: 1px solid #ccc;
  border-radius: 5px;
}
.table-container{
  padding: 0;
}
