#map {
  height: CALC(100vh - 160px);;
}

#title {
  margin-top:0;
}

.col-md-8 {
  padding-right:0;
}

#sidepane {
  padding-top:15px;
  overflow-y: auto;
  padding-bottom:5px;
}

.report-icon{
  font-size:20px;
  color:yellow;
}



.panel-heading a {
  font-size:14px;
  font-weight: normal;
  color:rgb(35, 82, 124);
}
/*
.panel-heading a:after {
font-family:'Glyphicons Halflings';
content:"\e114";
float: right;
color: grey;
}
.panel-heading a.collapsed:after {
content:"\e080";
}
*/

textarea {
  resize: vertical;
}

#tweetFeed{
}

#contactsTable td.emailcell {
  width: 10vw;
  display: inline-block;
  overflow: hidden;
  word-break: break-all;
}

.cursorPointer{
  cursor: pointer;
}

.isHovered{
  background-color: #f5f5f5;
}

/* new report modal styling here: */


#newReportMap {
  height:55vh;
}


.form-section {
  display: none;
  height:100%;
}

.form-section.current{
  display: inherit;
}

.form-navigation .previous
{
  display: none;
}

/*::-webkit-scrollbar {
  display: none;
}*/


.rtype-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
}

.rtype-item {
  background-color: black;
  text-align: center;
  color:white;
  width: 40%;
  margin: 10px;
  cursor:pointer;
  border:3px solid white;
}

.rtype-selected{
  border:3px solid red;
}

.btn-msf{
  color: #fff;
  background-color: black;
  border-color: white;
  text-transform: uppercase;
}
.btn-msf:hover , .btn-msf:focus{
  color: #fff;
  background-color:#555555;
}

div.pac-container {
  z-index: 1050 !important;
}
@media (min-width: 768px)
{
  .dl-horizontal dd
  {
    margin-left: 220px;
  }
  .dl-horizontal dt
  {
    white-space: normal;
    width: 200px;
  }


}

[v-cloak]
{
  display:none;
}


.msf-loader {
    position:relative;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid black; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#mapContainer{
  padding-top:15px;
}
.bottom-margined {
  margin-bottom: 5px;
}

#eventVApp{
  height: CALC(100vh - 150px);
  overflow-y: scroll;
  border:1px ridge ;
  padding:0px 5px 5px;
}

.panel-header-click-area {
  width:CALC(100% - 45px);
  display:inline-block;
  cursor:pointer;
}
