html, body { height: 100% }

#mainMap {
  height:90vh;
  width:100%;
}

.col-md-12 {
  padding:0;
}

.hazard-icon{
  font-size:20px;
  color:orange;
}

.video-display{
  display: none;
}

.video-selector:hover{
  background-color:#f5f5f5;
}

.missions-icon{
  font-size:20px;
  color:white;
}

.contacts-icon{
  font-size:20px;
  color:blue;
}

.btn-msf{
  color: #fff;
  background-color: black;
  border-color: white;
}

.btn-msf:hover , .btn-msf:focus{
  color: #fff;
  background-color:#555555;
}

.isHovered{
  background-color: #f5f5f5;
}

.rss-item{
  cursor: pointer;
}
.rss-item:hover{
    background-color: #f5f5f5;
}
.msf-tab{
  height:90vh;
  overflow-y:scroll;
}

div.pac-container {
   z-index: 1050 !important;
}

#inputSeverityScale label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
#inputSeverityScale {
    width: 50%;
    margin: 2em auto;
}

.form-group {
  margin-bottom: 7px;
}
