html, body { height: 100% }

#landingMap {
  height:90vh;
  width:100%;
}

.col-md-12 {
  padding:0;
}

.hazard-icon{
  font-size:20px;
  color:orange;
}

.missions-icon{
  font-size:20px;
  color:white;
}

.contacts-icon{
  font-size:20px;
  color:blue;
}
