html, body { height: 100% }

#landingMap {
  height:90vh;
  width:100%;
}

.col-md-12 {
  padding:0;
}

.hazard-icon{
  font-size:20px;
  color:orange;
}

.video-display{
  display: none;
}

.video-selector:hover{
  background-color:#f5f5f5;
}

.missions-icon{
  font-size:20px;
  color:white;
}

.contacts-icon{
  font-size:20px;
  color:blue;
}

.btn-msf{
  color: #fff;
  background-color: black;
  border-color: white;
}

.btn-msf:hover , .btn-msf:focus{
  color: #fff;
  background-color:#555555;
}

.isHovered{
  background-color: #f5f5f5;
}

.rss-item{
  cursor: pointer;
}
.rss-item:hover{
    background-color: #f5f5f5;
}
.msf-tab{
  height:90vh;
  overflow-y:scroll;
}
