#map {
  height: 80vh;
}

.btn-msf{
  color: #fff;
  background-color: black;
  border-color: white;
  text-transform: uppercase;
}

.btn-msf:hover , .btn-msf:focus{
  color: #fff;
  background-color:#555555;
}

.eventBox {
  font-weight: normal;
  display:inline-block;
  cursor:pointer;
}
