<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>Hi,</h5>
    <p style="margin-bottom:20px;">There is a contact with this email in MSF Reach records. To update or delete this contact, follow the links below.</p>
    <a href="{{updateLink}}" style="background-color: #348eda;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;">Update</a>
    <a href="{{deleteLink}}" style="background-color: #da3434;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;">Delete</a>
    <p style="margin-top:20px;">If you have not requested an update or delete please ignore this email.</p>
    <p style="margin-top:40px;">Kind regards,</p>
    <p>MSF Reach</p>
    <img src="https://msf-reach.org/resources/images/msf-reach-logo-trans-01.png" alt="" style="width:150px;">
  </body>
</html>
