<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi,</p>
    <p style="margin-bottom:20px;">You have been sent this email as someone requested to update your contact details on the Médecins Sans Frontières REACH platform. To update or delete your contact information, follow the link below. If you have not requested an update or a deletion please ignore this email.</p>
    <a href="{{updateLink}}" style="background-color: #348eda;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;">Update or remove</a>
    <p> <a href="{{updateLink}}">{{updateLink}}</a> </p>
    <p style="margin-top:20px;">NOTE: This link will expire in {{expiresIn}} hour. </p>
    <p>Kind regards,<br />
    <p>MSF Reach</p>
    <p><a href="http://msf-seasia.org/node/14721">Privacy policy</a></p>
    <img src="https://msf-reach.org/resources/images/MSF_REACH_LOGO_RGB_96square-05.png" alt="" style="width:150px;">
  </body>
</html>
