<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>Hi,</h5>
    <p style="margin-bottom:20px;">You have been sent this email as someone requested on the REACH platform to update your contact details associated with this email address. To update or delete your contact information, follow the link below.</p>
    <a href="{{updateLink}}" style="background-color: #348eda;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;">Update or remove</a>
    <p> <a href="{{updateLink}}">{{updateLink}}</a> </p>
    <p style="margin-top:20px;">NOTE: This link will expire in {{expiresIn}} hour(s). </p>
    <p style="margin-top:20px;">If you have not requested an update or delete please ignore this email.</p>
    <p style="margin-top:40px;">Kind regards,</p>
    <p>MSF Reach</p>
    <p><a href="http://msf-seasia.org/node/14721">Privacy policy</a></p>
    <img src="https://msf-reach.org/resources/images/msf-reach-logo-trans-01.png" alt="" style="width:150px;">
  </body>
</html>
