<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>Hi {{receipient_name}},</h5>
    <p style="margin-bottom:20px;">{{sender_name}} has shared the private contact details of {{contact_name}} with you on the <a href="https://msf-reach.org/">MSF REACH platform</p>
    <p style="margin-top:40px;">Kind regards,</p>
    <p>MSF Reach</p>
    <p><a href="http://msf-seasia.org/node/14721">Privacy policy</a></p>
    <img src="https://msf-reach.org/resources/images/msf-reach-logo-trans-01.png" alt="" style="width:150px;">
  </body>
</html>
