<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hi {{recipient_name}},</p>
    <p style="margin-bottom:20px;">{{sender_name}} has shared the private contact details of {{contact_hyperlink}} with you on the MSF REACH platform.</p>
    <p>Kind regards,<br />
    MSF REACH</p>
    <p><a href="http://msf-seasia.org/node/14721">Privacy policy</a></p>
  </body>
</html>
