<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>Hi {{recipient_name}},</h5>
    <p style="margin-bottom:20px;">{{sender_name}} has shared the private contact details of {{contact_name}} with you on the <a href="https://msf-reach.org/">MSF REACH platform</a></p>
    <p>Kind regards,<br />
    MSF REACH</p>
    <p><a href="http://msf-seasia.org/node/14721">Privacy policy</a></p>
  </body>
</html>
